.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
}

.selectBlockTitle {
	margin-top: 20px;
	margin-left: 5%;

	color: var(--tg-theme-text-color);

	font-weight: 600;
	justify-self: left;
}

.typeDiv {
	display: grid;

	width: 100%;
	margin: 20px 0;
	justify-items: center;
	gap: 10px;
}

.submitButton {
	display: grid;

	width: 100%;
	margin: 20px 0;
	justify-items: center;
	gap: 10px;
}
