html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: var(--tg-theme-secondary-bg-color);

	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;

	border: 0;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background-color: var(--tg-theme-secondary-bg-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--tg-theme-accent-text-color);
}

a {
	text-decoration: none;
}

.swiper-pagination-bullet-active {
	background: var(--primary) !important;
}

@media (max-width: 480px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}

:root {
	--primary: #D01120;
	--white: #FFF;
	--dark: #1F1F1F;
	--light: #F4F4F4;
	--darkLight: #D9D9D9;
	--right: #02E333;
	--error: #FF1500;
	--banana: #FFC803;
	--font-family: 'Roboto', sans-serif;
}
