.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
}

.selectBlockTitle {
	width: 90%;
	margin-top: 20px;
	margin-left: 5%;

	color: var(--tg-theme-text-color);

	font-weight: 600;
	justify-self: left;
}
