.quickBlock {
	display: grid;
	align-items: center;

	width: 100%;
	height: fit-content;
	padding: 20px 0;

	background: var(--tg-theme-section-bg-color);
	justify-items: center;
	gap: 10px;
}

.quickTaskTitle {
	margin-left: 5%;

	color: var(--tg-theme-text-color);

	font-weight: 600;
	justify-self: left;
}

.quickTaskText {
	display: grid;

	width: 90%;
	justify-items: left;

	color: var(--tg-theme-text-color);
}

.quickButtonDiv {
	display: grid;

	width: 100%;
	margin: 20px 0;
	justify-items: center;
	gap: 10px;
}

.taskImage {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 90%;
	height: fit-content;
	margin: 20px 0;

	border: 2px solid var(--tg-theme-section-bg-color);
	border-radius: 10px;
	background: var(--tg-theme-section-bg-color);
	justify-items: center;
}
