.userIcon {
	display: grid;
	align-items: center;

	width: 120px;
	height: 120px;

	transition-duration: 300ms;

	border-radius: 9999px;
	background: var(--primary);
	justify-items: center;
}

.isHeader {
	width: 40px;
	height: 40px;
	margin-right: 40px;

	cursor: pointer;
}

.userIcon > svg {
	fill: var(--white);

	width: 40%;
}

.isHeader:hover,
.isHeader:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.99);
}

@media (max-width: 580px) {
	.header {
		padding: 12px 0;
	}

	.userIcon {
		width: 100px;
		height: 100px;
	}

	.isHeader {
		width: 30px;
		height: 30px;
		margin-right: 20px;
	}
}
